@model eduMentor.Models.Certificado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Certificado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaGeneracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaGeneracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlPDF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlPDF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoVerificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoVerificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.Nivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCertificado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
